#chess_table TD {width: 5em; height:5em;border:0px solid black;text-align:center;padding: 0px;}
#chess_table {border-collapse: collapse;}

table { 

	background-image: url(../images/light_wood_board.jpg);
	background-size: 1700px 1400px;
    background-repeat:no-repeat;
    background-position:center center;
    width:1800px; 
    height:200px;   
	border-spacing:0px;
	

 }
 


 #btn-roll{
	 height: 200px;`
	 width:300px;
	 background-image: url("buttons.png");
	
 }
#chess_board{
	width:300px;
	float:left;
}

#layer2{
	width:300px;
	height: 700px;
	float:right;
    width: 40%;
	/*background-color: powderblue;*/	
} 
/*TD.W_square {background-color:#A0522D;}*/
IMG.piece {width: 5.2em; height:5.2em;}
TD.pmove {border:3px solid blue; background-color:yellow;}
TD.tomove {border:3px solid blue; background-color:blue;}





